.next {     
    padding: 3px 15px;        
}
.back {    
    padding: 3px 15px; 
}
.next::after {    
    border: 20px solid transparent;
    border-left: 40px solid #F5F5F5;    
}
.back::before {
  border: 20px solid transparent;
  border-right: 40px solid #F5F5F5;    
}
.second-half {
    padding: 5% 5% 5% 5%;
}